<% auth = FreeText.authentication.call(controller) %>
<div id="free_text_<%= free_text.key %>"
     class="<%= div_class %><% if auth %> free_text_aloha <%= class_restriction %><% end%>"
     <% if auth %>
       data-key="<%= free_text.key %>"
       data-locale="<%= free_text.locale %>"
     <% end%>
><%= free_text.content.html_safe %></div>