GENTICS.Aloha.settings = {
    logLevels: {
        'error': true,
        'warn': true,
        'info': true,
        'debug': false
    },
    errorhandling : false,
    ribbon: false,
    "i18n": {
        "current": "<%= I18n.locale %>"
    },
    "plugins": {
        "com.gentics.aloha.plugins.Format": {
          config: <%= free_text_styles %>,
          editables: <%= free_text_restrictions %>
      }
    }
}