/*!
* Aloha Editor
* Author & Copyright (c) 2010 Gentics Software GmbH
* aloha-sales@gentics.com
* Licensed unter the terms of http://www.aloha-editor.com/license.html
*/
.GENTICS_editable {}

.GENTICS_editable_active .GENTICS_block {
	background-color: #B7D6FA !important;
}

.GENTICS_editable_zerowidthfix {
	padding: 0px 5px 0px 5px !important;
}

.GENTICS_editicon {
	position: absolute;
	margin-left: -34px;
	display: none;
}

/*
 * Ext JS fixes
 */
.GENTICS_floatingmenu table, .GENTICS_floatingmenu tr, .GENTICS_floatingmenu td, 
.ext-root tr:nth-child(2n), .ext-root tr:nth-child(3n), .ext-root tr:nth-child(4n), .ext-root tr:nth-child(5n),
.ext-root table, .ext-root tr, .ext-root td, 
.x-layer table, .x-layer tr, .x-layer td,
.x-window table, .x-window tr, .x-window td {
	border: 0;
	padding: 0;
	margin: 0;
background-color: transparent;
}
.GENTICS_floatingmenu table, .GENTICS_floatingmenu tr, .GENTICS_floatingmenu td {
	width: 0;
	height: 0;
}

/* fixes modal dialog border issues in GCN backend */
table.x-toolbar-ct {
        border: 0px;
}

table.x-toolbar-ct td {
        border: 0px;
}

table.x-toolbar-ct table {
        border: 0px;
}

/* 
 * Floating Menu 
 */

.GENTICS_floatingmenu .x-tab-panel-header {
	border-width: 0px 0px 1px 0px;
	background: none;
}

.GENTICS_floatingmenu .x-tab-panel-header .x-tab-strip-wrap, .GENTICS_floatingmenu ul.x-tab-strip-top {
	background: none;
}

.GENTICS_floatingmenu .x-tab-panel-header {
	padding-bottom: 0px;
}

.GENTICS_floatingmenu:hover {
	background-color: #E0E0E0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url(/assets/free_text/aloha/images/grabhandle.png) no-repeat scroll center 5px rgba(0, 0, 0, 0.4);
}

.GENTICS_floatingmenu:hover .GENTICS_floatingmenu_pin {
	display: block;
}

.GENTICS_floatingmenu_pin {
	background: url(/assets/free_text/aloha/images/pin.png) no-repeat scroll 0 6px transparent;
	cursor: pointer;
	margin-left: 5px !important;
	width: 16px;
	position: absolute !important;
	right: 10px;
	display: none;
}

.GENTICS_floatingmenu_pinned {
	background-position: -16px 6px;
}

#GENTICS_floatingmenu_shadow {
	position: absolute;
	top: -1000;
	left: -1000;
	display: none;
	z-index: 8800;
}

.x-combo-selected {
	background-color: Highlight !important;
}

.x-tree-root-ct {
	padding: 0px;
}

.x-tree-node {
	list-style: none;
}

.x-tree-node-ct {
	padding: 0px;
}

/*hide dotted browser border on focus*/
.GENTICS_button a:focus {
	outline: none;
}

button.GENTICS_button {
	background: url(/assets/free_text/aloha/images/base.png) no-repeat !important;
}

button.GENTICS_button_big {
	background: url(/assets/free_text/aloha/images/base_big.png) no-repeat !important;
}

/*buttons for format plugin*/
button.GENTICS_button_b {
	background-position: 0px 0px;
}

button.GENTICS_button_i {
	background-position: -16px 0px !important;
}

button.GENTICS_button_u {
	background-position: -32px 0px !important;
}

button.GENTICS_button_del {
	background-position: -48px 0px !important;
}

button.GENTICS_button_sub {
	background-position: -64px 0px !important;
}

button.GENTICS_button_sup {
	background-position: -80px 0px !important;
}

button.GENTICS_button_ul {
	background-position: -256px 0px !important;
}

button.GENTICS_button_ol {
	background-position: -272px 0px !important;
}

button.GENTICS_button_a {
	background-position: -288px 0px !important;
}

button.GENTICS_button_a_remove {
	background-position: -304px 0px !important;
}

/**
 * multisplit buttons
 */
button.GENTICS_button_p {
	background-position: 0px 0 !important;
}

button.GENTICS_button_p_de {
	background-position: 0px -42px !important;
}

button.GENTICS_button_h1 {
	background-position: -52px 0 !important;
}

button.GENTICS_button_h1_de {
	background-position: -52px -42px !important;
}

button.GENTICS_button_h2 {
	background-position: -104px 0 !important;
}

button.GENTICS_button_h2_de {
	background-position: -104px -42px !important;
}

button.GENTICS_button_h3 {
	background-position: -156px 0 !important;
}

button.GENTICS_button_h3_de {
	background-position: -156px -42px !important;
}

button.GENTICS_button_h4 {
	background-position: -208px 0 !important;
}

button.GENTICS_button_h4_de {
	background-position: -208px -42px !important;
}

button.GENTICS_button_h5 {
	background-position: -260px 0 !important;
}

button.GENTICS_button_h5_de {
	background-position: -260px -42px !important;
}

button.GENTICS_button_h6 {
	background-position: -312px 0 !important;
}

button.GENTICS_button_h6_de {
	background-position: -312px -42px !important;
}

button.GENTICS_button_pre {
	background-position: -364px 0 !important;
}

button.GENTICS_button_pre_de {
	background-position: -364px -42px !important;
}

button.GENTICS_button_title {
	background-position: -416px 0 !important;
}

button.GENTICS_button_title_de {
	background-position: -416px -42px !important;
}

/*buttons of the table plugin*/
button.GENTICS_button_table {
	background-position: -96px 0 !important;
}

button.GENTICS_button_addColumnLeft {
	background-position: -112px 0 !important;
}

button.GENTICS_button_addColumnRight {
	background-position: -128px 0 !important;
}

button.GENTICS_button_addRowBefore {
	background-position: -144px 0 !important;
}

button.GENTICS_button_addRowAfter {
	background-position: -160px 0 !important;
}

button.GENTICS_button_deleteRows {
	background-position: -176px 0 !important;
}

button.GENTICS_button_deleteColumns {
	background-position: -192px 0 !important;
}
/* iks test buttons */
button.GENTICS_button_addPerson {
	background-position: -224px 0 !important;
}

button.GENTICS_button_addEvent {
	background-position: -208px 0 !important;
}

button.GENTICS_button_abbr {
	background-position: -336px 0px !important;
}
button.GENTICS_button_tree {
	background-position: -0 0 !important;
}

/*button status hover of format plugin*/
div.GENTICS_button a:hover {
	border: 1px solid #b2cbff;
}

.GENTICS_floatingmenu {
	display: none;	
}

/*button status active of format plugin*/
.GENTICS_floatingmenu .pressed a {
	border:1px solid #ccc;
}

.GENTICS_logo {
	width:37px !important;
	height:25px !important;
	background-image: url(/assets/free_text/aloha/images/gentics_logo.png) !important;
}

.GENTICS_maximize {
	background-image: url(/assets/free_text/aloha/images/gentics_logo.png) !important;
}

.GENTICS_fade_out {
	background-image: url(/assets/free_text/aloha/images/fade_out.png) !important;
	width:20px !important;
	height:20px !important;
}

.GENTICS_fade_in {
	background-image: url(/assets/free_text/aloha/images/fade_in.png) !important;
	width:20px !important;
	height:20px !important;
}

.GENTICS_maximize {
	width:20px !important;
	height:20px !important;
	background-image: url(/assets/free_text/aloha/images/maximize.png) !important;
}

html body .GENTICS_ribbon {
	z-index:90000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding-left:0;
	padding-right:0;
	display: none;
}

.x-menu-list-item {
	text-align:left;
}

.GENTICS_shadow {
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/*
 * extJs GENTICS Multisplit Button
 */
ul.GENTICS_multisplit button.GENTICS_button {
	background-image: url(/assets/free_text/aloha/images/base_multi.png) !important;
	background-repeat: no-repeat;
	background-position: 0 0;
	/*
	 * WARNING do not change the button size for multisplit buttons
	 */
	width: 54px !important;
	height: 44px !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.GENTICS_multisplit {
	float: left;
	list-style: none;
}
ul.GENTICS_multisplit, div.GENTICS_multisplit-wrapper {
	width: 232px;
	height: 46px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
div.GENTICS_multisplit-wrapper {
	width: 248px;
}
ul.GENTICS_multisplit li {
	float: left;
	padding: 0px 1px;
	margin: 0px;
}
ul.GENTICS_multisplit button.GENTICS_multisplit-wide {
	font: 11px tahoma,arial,helvetica;
	height: 18px !important;
	width: 234px !important;
	border: 0;
	border-top: 1px solid #cccccc;
	cursor: pointer;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 6px 1px !important;
	text-align: left;
	margin-left: -2px;
	padding-left: 26px;
}
button.GENTICS_multisplit_toggle {
	float: right;
	margin: 0;
	padding: 0;
	width: 15px;
	height: 12px;
	margin-top: 32px;
	cursor: pointer;
	border: 0;
}
button.GENTICS_multisplit_toggle_open {
	background-image: url(/assets/free_text/aloha/images/multisplit-open.gif);
}
button.GENTICS_multisplit_toggle_close {
	background-image: url(/assets/free_text/aloha/images/multisplit-close.gif);
}
ul.GENTICS_multisplit button {
	border: 1px solid #cccccc;
	margin: 1px;
	cursor: pointer;
}
ul.GENTICS_multisplit button:hover {
	border: 1px solid #666666;
}
ul.GENTICS_multisplit button.GENTICS_multisplit-wide:hover {
	border: 0;
	border-top: 1px solid #cccccc;
}
ul.GENTICS_multisplit button.GENTICS_multisplit-activeitem {
	border: 2px solid #3B73D7;
}
ul.GENTICS_multisplit-expanded {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20000;
	background-color: white;
	border: 1px solid #afafaf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

ul.GENTICS_multisplit button.GENTICS_button_removeFormat {
	background-image: url(/assets/free_text/aloha/images/removeformat.png) !important;
}

