/**
 * product
 */
.GENTICS_button.GENTICS_button_product {
	background: red url(/assets/free_text/aloha/images/plugins/product/product_button.gif) no-repeat !important;
}

 .GENTICS_block.product {
	width: 156px;
	height: 170px;
	border: 2px solid #dfdfdf;
	padding: 10px;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
	float: left;
	margin: 0 32px 30px 0;
	background: white;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(239,239,239)),
	    color-stop(0.3, rgb(255,255,255)),
	    color-stop(0.7, rgb(255,255,255)),
	    color-stop(1, rgb(250,250,250))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(239,239,239) 0%,
	    rgb(255,255,255) 30%,
	    rgb(255,255,255) 70%,
	    rgb(250,250,250) 100%
	);
}

.GENTICS_block.product .image {
	width: 150px;
	height: 130px;
	background: white no-repeat center center;
	margin-bottom: 12px;
	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	border: 2px solid #dfdfdf;
}

.GENTICS_block.product .name {
	color: #666;
	text-align: center;
	text-shadow: white 1px 1px 1px;
}

.GENTICS_block.product.product-selected {
	background: #b8d6fa !important;
}

.product-preview {
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	background: white no-repeat center center;
	border: 2px solid #efefef;
}